@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    color: white;
    background: url('images/d835daa6743c68db61bcd09cb0ba3f854c61591c.jpg') no-repeat center center/cover;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    margin-top: 35px;
    backdrop-filter: blur(10px);
}

.logo img {
    margin-left: 85px;
    width: 135px;
    height: 110px;
}

.menu {
    display: flex;
    gap: 60px;
    list-style: none;
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s;

    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;

}

.menu a:hover {
    color: lightgray;
    transition: 0.3s;
}


.socials a img {
    width: 50px;
}



.container {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding-left: 150px;
    position: relative;
}


.container-text {
    position: relative;
    z-index: 2;
    max-width: 500px;

    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-style: Medium;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
}

.container-text h1 {
    font-size: 2.5em;
    line-height: 1.3;
    margin-bottom: 25px;
    text-transform: uppercase;
}

.container-text p {
    color: #ddd;
    font-size: 0.95em;
    line-height: 1.6;
    margin-bottom: 25px;
    margin-bottom: 100px;
}

.ct {
    background: #ff885e;
    color: white;
    padding: 12px 25px;
    border-radius: 6px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    font-size: 20px;
    border: none;
    width: 238px;
    height: 56px;
}


.container1 {
    width: 100%;
    margin: 0 auto;
    padding: 60px 80px;
    background-color: #20201F;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.about {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
}

.about .abb {
    color: #ff885e;
}

.container1-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 60px;
    flex-wrap: wrap;
}

.container1-text h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.container1-text p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #A8A6A6;
}


.text2 h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
}

.text2 p {
    font-family: "Oswald", sans-serif;
    font-size: 18px;
    line-height: 1.8;
    margin-left: 15px;
}

.container-swec img {
    width: 375px;
    height: 740px;
}

.container2 {
    background-color: #20201F;
}

.container3-text {
    display: flex;
    gap: 170px;
}

.container3-wrap {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.container3-text h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.4;
}

.container3-text p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #A8A6A6;
}

.container3-wrap {
    margin-left: 230px;
}

.text3 {
    display: flex;
    gap: 50px;
}

.container4 {
    background-color: white;
    padding-bottom: 70px;
}

.about1 {
    padding-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    margin-bottom: 40px;

    h1 {
        color: #343333;
    }
}

.about1 .abb {
    color: #ff885e;
}


.container4-text h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 22px;
    margin-bottom: 25px;
    line-height: 1.4;
    color: #1E1D1D;
}

.container4-text p {
    font-family: "Manrope", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.6;
    color: #787676;
}

.text4 h1 {
    font-family: "Oswald", sans-serif;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 25px;
    color: #787676;
}

.container4-wrap {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 40px;
    margin-top: 35px;
    backdrop-filter: blur(10px);
    background-color: #20201F;
}

.footer-container img {
    width: 386.69px;
    height: 110px;
}

footer h1 {
    font-family: "Manrope",sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #9A9898;
    padding-top: 20px;
    margin-left: 100px;
}

footer{
    background-color: #111111;
    padding-top: 20px;
    padding-bottom: 40px;
}