@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&family=Lora:ital,wght@0,400..700;1,400..700&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Oswald:wght@200..700&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.flex {
    display: flex;
}

header {
    margin-top: 50px;
    margin-bottom: 60px;
}

.container {
    padding: 0 20px;
}

.sec-wrap h5 {
    margin-top: 60px;
    color: #B4AD9E;
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    font-family: "Ubuntu", sans-serif;
    margin-bottom: 40px;
}

.sec-wrap h1 {
    color: #626262;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 100%;
    letter-spacing: 0%;
}

.sec-wrap p {
    color: #626262;
    width: 420px;
    height: 76px;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;

}

.sec-wrap {
    width: 420px;
    height: 556px;
    background: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    color: #7D7D7D;
    text-decoration: none;
}

ul {
    list-style: none;
}

.header-menu {
    justify-content: center;
    gap: 200px;
    text-align: center;
    align-items: center;

}


section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

.header-item:nth-child(1) a {
    color: #3FAA3F;
}

.burger {
    display: none;
    width: 30px;
}

.burger div {
    width: 100%;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
}

button {
    width: 165px;
    height: 60px;
    border: 1px solid #626262;
    font-family: "Playfair Display", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: white;
    color: #626262;
}


main {
    display: flex;
    flex-direction: column;
    align-items: center;
}


button {
    display: block;
    margin: 40px auto;
}


@media (max-width: 600px) {
    .header-menu {
        display: none;
    }

    .burger {
        display: block;
    }
}

@media(min-width:601px) and (max-width:1000px) {
    .header-menu {
        gap: 50px;
        margin-left: 4vh;
    }
}

@keyframes move {
  0% { transform: translateX(0); }
  50% { transform: translateY(-20px); }
  100% { transform: translateY(0); }
}


li:hover{
    animation: move 1.3s;
}


button {
  background-color: white;
  color: black;
  border: 1px solid black;
  transition: background-color 1.3s ease-out, color 1.3s ease-out, border 1.3s ease-out;
}

button:hover {
  background-color: black;
  color: white;
  border: 1px solid whitesmoke;
}